#board {
    display: grid;
    font-size: 24px;
}

#board .cell {
    background-color: #BBB;
    margin: 1px;
}

#board .on {
    background-color: blue;
}

#board .ok {
    background-color: lightgreen;
}
